{%- assign collection1 = collections[section.settings.collection1] -%}
{%- assign collection2 = collections[section.settings.collection2] -%}
<section class="twoCollections-section">
    <div class="row">
      <a href="{{ collection1.url }}" class="col-md-6 left-c">
        <div class="left-c-img">
          <div
            class="overlay"
            style="background: {{ section.settings.collection1_bg_color }};
                  opacity: {{ section.settings.collection1_opacity }};"
          ></div>
          <img alt="{{ block.settings.collection1_alt_text }}" src="{{ collection1.image | img_url: '500x' }}">
        </div>
        <span class="collection-title">
          <span style="color: {{ section.settings.collection1_text_color }};
                      font-family: {{ section.settings.collection1_font }};">
            {{collection1.title}}
          </span>
        </span>
      </a>
      <a href="{{ collection2.url }}"  class="col-md-6 right-c">
        <div class="right-c-bg" style="background: {{ section.settings.collection2_bg_color }};">
          <div class="right-c-img">
            <img alt="{{ block.settings.collection2_alt_text }}" src="{{ collection2.image | img_url: '500x' }}">
            <span class="collection-title">
              <span style="color: {{ section.settings.collection2_text_color }};
                          font-family: {{ section.settings.collection2_font }};">
                {{collection2.title}}
              </span>
            </span>
          </div>
        </div>
      </a>
    </div>
  </section>

{% schema %}
{
  "name": "Two Collections",
  "settings": [
    {
      "type": "collection",
      "id": "collection1",
      "label": "collection 1",
      "info": "choose a collection"
    },
    {
      "type": "text",
      "id": "collection1_alt_text",
      "label": "1st Collection ALT Text",
      "info": "ALT For 1st Collection Image"
    },
    {
      "type": "color",
      "id": "collection1_bg_color",
      "label": "Background Color",
      "default": "rgba(255, 255, 0, 1)",
      "info": "Change The Color Of The Overlay"
    },
    {
      "type": "color",
      "id": "collection1_text_color",
      "label": "Text Color",
      "default": "rgba(0, 0, 0, 1)",
      "info": "Change The Color Of The Text"
    },
    {
      "type":      "range",
      "id":        "collection1_opacity",
      "min":       0.0,
      "max":        1.0,
      "step":       0.1,
      "unit":       "px",
      "label":     "Overlay Opacity",
      "default":   0.5
    },
    {
      "type":    "font_picker",
      "label":   "Pick The Font Family",
      "id":      "collection1_font",
      "info":    "Font Family For First Collection",
      "default": "source_sans_pro_n7"
    },
    {
      "type": "collection",
      "id": "collection2",
      "label": "collection 2",
      "info": "choose a collection"
    },
    {
      "type": "text",
      "id": "collection2_alt_text",
      "label": "2nd Collection ALT Text",
      "info": "ALT For 2nd Collection Image"
    },
    {
      "type": "color",
      "id": "collection2_bg_color",
      "label": "Background Color",
      "default": "#dddfe4",
      "info": "Change The Color Of The Background"
    },
    {
      "type": "color",
      "id": "collection2_text_color",
      "label": "Text Color",
      "default": "rgba(255, 255, 255, 1)",
      "info": "Change The Color Of The Text"
    },
    {
      "type":    "font_picker",
      "label":   "Pick The Font Family",
      "id":      "collection2_font",
      "info":    "Font Family For Second Collection",
      "default": "source_sans_pro_n7"
    }
  ],
  "presets": [
    {
      "name": "Two Collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}
